* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root {
    --primary-color: rgb(40, 39, 39);
}


body ::selection {
    background: black;
    color: white;
  }
  
  
  .navbar {
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    /* background-color: skyblue; */
    gap: 50px;
    padding: 30px;
    /* border: 2px solid black; */
    margin: auto;
}


.navbar-links {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:17vw;
}


.navbar-right-div {
    /* border: 2px solid black; */
    display: flex;
    justify-content: end;
    gap: 40px;
    width: 65%;
    font-weight: 700;
    cursor: pointer;
    align-items: center;
    
}


#bookish-logo {
    font-weight:bold;
    font-size: 45px;
    cursor: pointer;
    color:var(--primary-color);
    letter-spacing: 2px;
    font-weight: 800;
    
    
    
}



.landing-section {
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    margin: auto;
    width: 80vw;
    height: 90vh;
    justify-content: center; /* Centers the divs horizontally */
    align-items: center; /* Centers the divs vertically */
   
}


.landing-page-btn,#pop-up-submit-button {
    background-color: var(--primary-color);
    gap: 15px;
    color: white;
    width: 152px;
    height: 50px;
    border: 2px solid var(--primary-color);
    font-weight: 600;
}


.landing-page-btn:hover , #pop-up-submit-button:hover{
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
}


.landing-section-left {
    display: flex;
    flex-direction: column;
    gap: 19px;
    justify-content: center;
    padding: 15px;
}


.landing-page-heading {
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 28px;
}


#pop-up {
    position: absolute;
    border: 10px solid black;
    /* border-radius: 10px; */
    width: 450px;
    height: 525px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    margin: auto;
    visibility: hidden;
    
}


.pop-up-top-div {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    font-weight: 800;
    /* letter-spacing: 1px; */
    font-size: 20px;
}

#close-pop-up-button {
    background-color: red;
    color :white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border : 5px solid red;
    cursor: pointer;
    font-weight: 800;
   
    font-size: 20px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
    padding: 10px;
    
    font-size: 15px;
    text-transform: uppercase;
}

form input {
    width: 95%;
    height: 2em;
    padding-left: 4px;
}

fieldset {
    padding: 20px;
    border: 3px solid black;
}


legend {
    font-weight: bold;
}

#pop-up-submit-button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#form-flexbox-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.book-read-checkbox-div {
    display: flex;
    flex-direction: row;
    justify-content: start;

    align-items: center;
    padding-left: 10px;
    padding-top: 3px;
    
}

#read {
    width: 10%;
    height: 1.3em;
    accent-color: black;
}

.form-element {
    padding: 10px;
}

