* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root {
    --primary-color: rgb(40, 39, 39);
}




.navbar {
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    /* background-color: skyblue; */
    gap: 50px;
    padding: 30px;
    /* border: 2px solid black; */
    margin: auto;
}


.navbar-links {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:17vw;
}


.navbar-right-div {
    /* border: 2px solid black; */
    display: flex;
    justify-content: end;
    gap: 40px;
    width: 65%;
    font-weight: 700;
    cursor: pointer;
    align-items: center;
    
}


#bookish-logo {
    font-weight:bold;
    font-size: 45px;
    cursor: pointer;
    color:var(--primary-color);
    letter-spacing: 2px;
    font-weight: 800;
    
    
    
}



.landing-section {
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    margin: auto;
    width: 80vw;
    height: 90vh;
    justify-content: center; /* Centers the divs horizontally */
    align-items: center; /* Centers the divs vertically */
   
}


.landing-page-btn {
    background-color: var(--primary-color);
    gap: 15px;
    color: white;
    width: 152px;
    height: 50px;
    border: 2px solid var(--primary-color);
    font-weight: 600;
}


.landing-page-btn:hover {
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
}


.landing-section-left {
    display: flex;
    flex-direction: column;
    gap: 19px;
    justify-content: center;
    padding: 15px;
}


.landing-page-heading {
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 28px;
}